<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @fb_token.token.truncate(100) %>
</p>

<%= link_to 'Edit', edit_fb_token_path(@fb_token) %> |
<%= link_to 'Back', fb_tokens_path %>
